In [1]:
import sys
sys.path.insert(0,'..\PySwissSys')

import td
import random

In [2]:
t = td.Tournament()
players = list('ABCDEFGH')

for i in range(len(players)):
    p = td.Player(players[i], random.randint(1000, 2900))
    t.add_player(p)

t.table

  name  rating  score
1    B    2731      0
2    F    2269      0
3    G    2161      0
4    H    2096      0
5    C    1795      0
6    A    1305      0
7    E    1217      0
8    D    1171      0

In [3]:
print("=================TOURNAMENT================")

for i in range(1, 5):
    print(f"=================ROUND {i}==================")
    t.pair()
    results = []
    for pairing in t.pairings:
        if pairing[0].rating > pairing[1].rating:
            results.append(1)
        else: results.append(0)
    t.record_results(results)
    print(t.table)

=================TOURNAMENT================
=================ROUND 1==================
  name  rating  score
1    B    2731      0
2    F    2269      0
3    G    2161      0
4    H    2096      0
5    C    1795      0
6    A    1305      0
7    E    1217      0
8    D    1171      0
=================ROUND 2==================
  name  rating  score
1    B    2731      1
2    F    2269      1
3    G    2161      1
4    H    2096      1
5    C    1795      0
6    A    1305      0
7    E    1217      0
8    D    1171      0
=================ROUND 3==================
  name  rating  score
1    B    2731      2
2    F    2269      2
3    G    2161      1
4    H    2096      1
5    C    1795      1
6    A    1305      1
7    E    1217      0
8    D    1171      0
=================ROUND 4==================
  name  rating  score
1    B    2731      3
2    F    2269      2
3    G    2161      2
4    H    2096      2
5    C    1795      1
6    A    1305      1
7    E    1217      1
8    D    1171      0