In [1]:
import sys
sys.path.insert(0,'..\PySwissSys')

import td

In [2]:
t = td.Tournament()
t.add_player(td.Player("Test", 1500))
t.add_player(td.Player("GM", 2600))
t.table

   Name USCF ID  Rating  Score
1    GM    None    2600      0
2  Test    None    1500      0

In [3]:
t.save('test.tnmt')

In [4]:
loaded = td.Tournament.load('test.tnmt')
loaded.table

   Name USCF ID  Rating  Score
1    GM    None    2600      0
2  Test    None    1500      0