In [2]:
import sys
sys.path.insert(0,'..\PySwissSys')

import td

In [3]:
t = td.Tournament()
t.add_player(td.Player("Test", 1500))
t.add_player(td.Player("GM", 2600))
t.table

   Name USCF ID  Rating  Score
1    GM    None    2600      0
2  Test    None    1500      0

In [4]:
t.save('test.tnmt')

In [6]:
import pickle

with open('test.tnmt', 'rb') as f:
    new_tournament = pickle.load(f)

In [7]:
new_tournament.table

   Name USCF ID  Rating  Score
1    GM    None    2600      0
2  Test    None    1500      0